*{
    padding: 0;
    margin:0;
    font-family: 'Wallpoet', cursive;
    Color: Red;
    font-weight: bolder;
    
    }
    
    
    #Space-img {
        background-image: url("../assets/images/OuterSpace.jpg") ;
        height:160vh;
        padding-top:1px;
    }
    
    .title{
        color: white;
        text-align: center;
        font-size: 40px;
        margin-top: 10%;
        border: 5px solid red;
    }
    
    .display {
        color: white;
        font-size: 25px;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    
    .hide{
        display: none;
    }
    
    .container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33% 33% 33%;
        grid-auto-rows: 33% 33% 33% 33% 33%;
        max-width: 300px;
        margin-left: 36em;
        height: 300px;
        margin-bottom: 5em;
    }
    
    .tile {
        border: 5px solid white;
        min-width: 100px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        cursor: pointer;
    }
    
    .playerX {
        color:red
    }
    
    .playerO {
        color: white;
    }
    
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
    
    #reset {
        background: white;
        color: red;
        padding: 8px;
        border-radius: 8px;
        border: none;
        font-size:20px;
        margin-left: 1em;
        cursor: pointer;
        margin-top: 1em;
    };

